<section class="about-page">
  <div class="container container-narrow">
    <h1 class="about-heading">About</h1>
    <div class="about-content">
      {{ page.content }}
    </div>
  </div>
</section>
