<section class="post-page">
  <div class="container container-narrow">
    <h1 class="post-title">归档</h1>
    {% for year, posts in site.posts.sort('date', -1).groupBy('date(format="YYYY")') %}
      <h2 class="archive-year">{{ year }}</h2>
      {% for post in posts %}
        <a class="post-item" href="{{ url_for(post.path) }}">
          <h2 class="post-item-title">{{ post.title }}</h2>
          <time class="post-item-date">{{ date(post.date, 'YYYY.MM.DD') }}</time>
        </a>
      {% endfor %}
    {% endfor %}
  </div>
</section>
